@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>APS - 6CC</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            font-family: Helvetica, sans-serif;
        }

        h2, h3 {
            margin-top: 0;
        }

        form {
            margin-top: 15px;
        }

            form > input {
                margin-right: 15px;
            }

        #buttonhide {
            background: transparent;
            border: none !important;
            font-size: 0;
        }
    </style>
</head>
<body class="container">
    <br />
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Camera</div>
            <div class="panel-body">
                <div id="mac_camera"></div>
                <!-- botão para tirar foto -->
                <form>
                    <input type="button" class="btn btn-success" value="Capturar Imagem" onClick="captura_imagem()">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Foto Capturada</div>
            <div class="panel-body">
                <div id="resultado">A imagem capturada vai aparecer aqui.</div>
            </div>
            <br />
            <br />
        </div>
    </div>
    <div class="col-md-2">    </div>
    <!-- inclui a livraria javascript -->
    <script src="~/webcam/webcam.js"></script>
    <!-- Configura e anexa a camera -->
    <script language="JavaScript">
        Webcam.set({
            width: 400,
            height: 300,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#mac_camera');
    </script>
    <!-- Codigo para tirar a foto e exibir localmente -->
    <script language="JavaScript">
        function captura_imagem() {
            // tira a foto e obtem os dados da imagem
            Webcam.snap(function (data_uri) {
                // exibe o resultado na pagina
                document.getElementById('resultado').innerHTML =
                    '<img src="' + data_uri + '"/>';
                Webcam.upload(data_uri,'/Camera/CapturaImagemPost',function (code, text) {
                        alert('Imagem Capturada');
                    });
            });
        }
    </script>
</body>
</html>